<http>
<body>

<h1>Enter Ion mass(-e) and mass window</h1>
<form action="" method="post" accept-charset="utf-8">

<p>Loaded Elements: <b>{% firstof elemList %}</b></p>
<p>Elements Pattern =
	<input type="text" size="50" name="palElem" id="palElem" value="{% firstof defElPattern %}" >
</p>

<p>MassVal=
	<input type="text" name="massVal" value="46.041865" id="massVal">
</p>	
<p>MassWin=
	<input type="text" name="massWin" value="0.01" id="massWin">
</p>
<p>
<input type="checkbox" name="skipRare" value="Yes" checked id="skipRare">
Skip Rare
</p>

<p><input type="submit" value="Decode"></p>
</form>

<p><i>*project is under construction. If you have any idea about it, mail me on <b>nov.andrey@gmail.com</b></i></p>
</body>
</http>